
.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: bisque;
    width: 700px;
    border-radius: 23px;
}
.form-image {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}


.col-md-4 {
    width: 60%;
    padding: 25px;
}

h1 {
    color: red;
    justify-content: center;
    display: flex;
}

.footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 360px;
    color: white;
}
